{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href = "{% static 'eventapp/style.css' %}" rel = "stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Add New</title>
</head>
<body>
    
    
    <h2 id = "title">Add a New Event</h2>
    <br>

    <div class = "container">
         <div class="p-4 shadow-sm bg-light rounded">
    <form method="POST">
        {% csrf_token %}
        
<div class="row mb-3">

    <div class="mb-3">
        <label class="form-label">{{ form.title.label }}</label>
        {{ form.title }}
        <div class = "text-danger">
        {{form.title.errors}}
        </div>
    </div>

    
    <div class="mb-3">
        <label class="form-label">{{ form.datetime.label }}</label>
        {{ form.datetime }}
        <div class = "text-danger">
        {{ form.datetime.errors }}
        </div>
    </div>



    <div class="mb-3">
        <label class="form-label">{{ form.location.label }}</label>
        {{ form.location }}
        {{ form.location.errors }}
    </div>

    

    <div class="mb-3">
        <label class="form-label">{{ form.description.label }}</label>
        {{ form.description }}
        <div class = "text-danger">
        {{ form.description.errors }}
        </div>
    </div>

          
            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">
                    Submit
                </button>
            </div>

        </form>

    </div>
</div>

    
</body>
</html>